.btn {

    font-size: @font-size-sm;
    font-weight: @font-weight-medium;
    text-decoration: none;
    color: @gray-lightest;
    border: none;
    background: transparent;
    padding: 11px 32px;
    outline: none;
    cursor: pointer;
    transition: all @transition; 

    &--transform { 
      display: inline-block;
      opacity: 0;
    }

    &--transform:hover { 
      transform: scale(1.1);
      box-shadow: @box-shadow-secondary;      
    }

    &--animation {
      animation: fade-in 4s forwards;
    }

    &--delete {
      display: none;

      @media (min-width: 1200px) { display: block; }
    }

    &--orange {
      background-color: @secondary-color;
      border-radius: 20px; 
    }

    &--icon { padding-left: 0; }

    &--pic { margin: 0 10px 0 20px; }

    &--orange:hover,
    &--icon:hover { background-color: @primary-color; }

    &--turquoise {
        padding: 17px 30px;
        background-color: @third-color;
    }

    &--turquoise:hover { background-color: @fourth-color; }

    &--transparent {
        border: 2px solid #fff;
        border-radius: 20px;
    }

    &--transparent:hover {
        background-color: #fff;
        color: @third-color;
    }

    &--link {
        padding: 0;
        border-bottom: 1px dashed #000;
        color: @gray-darken;
    }

    &--link:hover { border: none; }

}