.btn {
  font-family: @font-family-2;
  font-size: @font-size-sm;
  text-decoration: none;
  color: @gray-lightest;
  font-weight: @font-weight-bold;
}

.btn--orange {
  padding: 14px 20px;
  background-color: @secondary-color;
  border-radius: 5%;
}

.btn--icon {
  padding: 14px 20px 14px 42px;
  background-color: @secondary-color;
  border-radius: 5%;
}








// .btn {
//   border: transparent;
//   background: transparent;
//   font-size: 18px;
//   text-transform: uppercase;
//   color: #fff;
//   padding: 10px 20px;
//   text-decoration: none;
// }

// .btn-orange {
//   background-color: @color-main-secondary;
// }

// .btn-green {
//   background-color: @color-main;
// }

// .btn-icon {
//   padding-left: 40px;
//   position: relative;
// }

// .btn-icon::before {
//   content: "";
//   position: absolute;
//   top: 10px;
//   left: 15px;
//   width: 20px;
//   height: 20px;
// }

// .btn-icon--calendar {
//   background: ;
// }

// .btn-round {
//   border-radius: 25%;
// }

// .btn-transparent {
//   border: #fff;
// }
