.categories-list {
	font-family: @font-family-1;
	font-weight: @font-weight-normal;
	text-align: center;

	&__item {
		margin: 20px;
		background-color: #fff;
		border: 1px solid #1ea590;
	}

	&__price {
		padding: 46px 66px 50px 66px;	
	}

	&__title {		
		font-size: @font-size-lg-xx;		
	}

	.room__price {
		font-size: @font-size-sm;
		font-weight: @font-weight-medium;
	}

	.price__number { color: @secondary-color; }

}

