.get {
    text-align: center;

    &__inner {}

    &__item {
      padding: 40px 48px;
    }

    &__text {
      padding: 8px 0;
    }

  &__map {}
  &__transport {

    &__transport-bus {

      &__transport-title {

        &__transport-title--bus {}
        &__transport-title--train {}
      }

      &__transport-text {}
      &__transport-train {}
    }
  }
}
