.header {
  position: relative;
  text-align: center;
  z-index: 0;

  &__inner {
    
    .header-nav__burger {
      position: absolute;
      top: 6px;
      right: 0;
      padding: 22px;
      z-index: 1;
    } 

  }

  &-nav {

    &__burger {

      &-icon {
        color: #ff7435;
      }
    }
  }

  &-contacts {
    display: none;
  }



}
