.header-nav {
	font-size: @font-size-sm;
	
	&__list {
		list-style-type: none;


		&--close { display: none; }

		&--visible { display: block; }

		@media(min-width: 1200px) {
			display: flex;
		}
	}

    &__item {
		border-bottom: 1px solid @gray-lighten;	

		@media (min-width: 1200px) {
			border: none;
		}	
	}

	&__item:first-child {
		border-top: 1px solid @gray-lighten;

		@media (min-width: 1200px) {
			border: none;
		}
	}

	&__link:link,
	&__link:visited {
		display: block;
		padding-right: 20px;
  		color: @gray-darken;
  		text-align: center;
  		text-decoration: none;
  	}

  	&__link:hover {
		color: @secondary-color;
	}

	&__link--active-1 {
		color: @secondary-color;
		background-image: url(img/pic/active-1.jpg);	
	}
}
