.header-nav {

	font-size: @font-size-sm;
	
	&__list {
		// margin-top: 21px;
		list-style-type: none;

		&--close { display: none; }
		&--visible { display: block; }

		@media(min-width: 1200px) {
			display: flex;
			margin-top: 0;
		}

	}

    &__item { 
		border-bottom: 1px solid @gray-lighten;	

		@media (min-width: 1200px) {
			border: none;
		}

	}

	&__item:first-child {
		border-top: 1px solid @gray-lighten;

		@media (min-width: 1200px) {
			border: none;
		}

	}


	&__link:link,
	&__link:visited {
		display: block;
  		color: @gray-darken;
  		text-align: center;
  		text-decoration: none;
  		padding: 14px 10px 16px 10px;

		@media (min-width: 1200px) {
			padding: 36px 10px 32px 10px;
		}

  	}

  	&__link:hover {
		color: @secondary-color;
		transition: color @transition;
	}

	&__link--active-1:link,
	&__link--active-1:visited {
		color: @secondary-color;
		background-image: url(../img/pic/active-1.jpg);	
		background-repeat: no-repeat;
		background-position: center 36px;

		@media (min-width: 1200px) {
			background-position: center 60px;
		}	
	}

	&__link--active-2:link,
	&__link--active-2:visited {
		color: @secondary-color;
		background-image: url(../img/pic/active-2.jpg);	
		background-repeat: no-repeat;
		background-position: center 36px;

		@media (min-width: 1200px) {
			background-position: center 60px;
		}	
	}

}
