.header {


  &__inner {
    position: relative;

    .header-nav__burger {
      position: absolute;
      top: 0;
      right: 0;
    } 

  }

  &-nav {

    &__burger {

      &-icon {
        color: #ff7435;
      }
    }
  }
}
