.promo {
	padding: 20px 0 162px 0;
	text-align: center;
	background-image: url("@{pic}promo.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	text-align: left;
	font-size: @font-size-lg;

	&__inner {

		padding: 10px 20px;

		@media (min-width: 768px) {
    		width: 720px;
    		margin: 0 auto;      
  		}

	}

	&__title {
		line-height: @line-height-lg;
		background-color: #fff;
		margin-bottom: 0;	
		padding: 8px 12px;
		font-size: @font-size-lg;
		opacity: 0.9;
		
		@media (min-width: 768px) {
			margin-bottom: 20px;
			font-size: @font-size-big;
		}
	  }

	&__text {
	  	font-family: @font-family-2;
	  	font-weight: @font-weight-normal;
	  	line-height: @line-height-lg;
	  	background-color: #fff;
	  	padding: 8px 12px;
	  	opacity: 0.9;
	}

}