.promo {
	padding: 20px 0 162px 0;
	text-align: center;
	background-image: url("@{pic}promo.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;

	&__inner {
		padding: 10px 20px;
		background-color: #fff;	
	}

  &__title {
  	margin-bottom: 20px;
	line-height: @line-height-lg;
	
  }

  &__text {
  	font-family: @font-family-2;
  	font-weight: @font-weight-normal;
  	line-height: @line-height-lg;
  }
}
