.recreation {
    background-image: url("@{pic}recreation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


	 &__inner {
		  padding: 60px 35px 100px 35px;
	}
	
  
  &__content {
  	text-align: center;
    display: none;

    #family:checked ~ &--family {
        display: block; 
    }

    #corporate:checked ~ &--corporate {
        display: block; 
    }

  }



  &__text {
  	padding-top: 40px;
  }

  &__list {
	   display: none;

     @media (min-width: 768px) {
      list-style-type: none;
      font-weight: @font-weight-medium;
      font-size: @font-size-sm;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
     }
   }

    &__item {

      @media (min-width: 768px) {
        width: 90px;
        margin: 0 46px;
        text-align: center;
     }
  }
}
