@font-face {
    font-family: "FiraSans";
    src: url("FiraSansRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "FiraSans";
    src: url("FiraSansMedium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "PTSerifRegular";
    src: url("PTSerifRegular.woff") format("woff");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "PTSerifCaptionRegular";
    src: url("PTSerif-Caption.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "PTSans-Caption";
    src: url("PTSans-Caption-Web-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "PTSans-Caption";
    src: url("PTSans-Caption-Web-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}