* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html { 

	font-size: @font-size-normal;
	position: relative; 
	height: 100%;

}

body {

	font-family: @font-family-2;
	line-height: @line-height-base;
	font-weight: @font-weight-normal;
	color: @gray-darken;
	overflow-x: hidden;
display: flex;
  flex-direction: column;
  min-height: 100vh; 

}

// Временный
body.uikit {
	width: 1140px;
	margin: 0 auto;
}

main {flex: 1;}