* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { font-size: @font-size-normal; }

body {
	font-family: @font-family-2;
	line-height: @line-height-base;
	font-weight: @font-weight-normal;
	color: @gray-darken;
}

body.uikit {
	width: 1140px;
	margin: 0 auto;
}
