@font-family-1: 'PTSerifRegular', sans-serif;
@font-family-2: 'FiraSans', sans-serif;
@font-family-3: 'PTSans-Caption', sans-serif;

// на переработку (удаление)
@font-weight-normal: 200;
@font-weight-lg: 700;

@font-weight-regular: 400;
@font-weight-medium:  500;
@font-weight-semi:    600;
@font-weight-bold:    700;

@font-size-normal: 10px;
@font-size-sm:     1.4rem;
@font-size-base:   1.6rem;
@font-size-lg:     1.8rem;
@font-size-lg-x:   2.4rem;
@font-size-lg-xx:  2.6rem;
@font-size-larger:   3rem;
@font-size-big:    3.6rem;

@line-height-normal: 1; 
@line-height-base:   1.5;
@line-height-lg:     1.4;
@line-height-lg-xx:  2.6; 

h1,
h2 { font-family: @font-family-1; }

h3 { 
	font-family: @font-family-2;
	font-size: @font-size-sm;
	font-weight: @font-weight-medium;	
}

h1 { font-size: @font-size-sm; }
h2 { font-size: @font-size-larger; }

p {
	font-family: @font-family-2;
	font-size: @font-size-base;	
	font-weight: @font-weight-normal;
}

.small,
small {
	font-family: @font-family-2;
	font-size: 	@font-size-sm;
	font-weight: @font-weight-normal;
}

.accent { font-size: @font-size-lg; }