// @font-face {
//     font-family: "PTSerifRegular";
//     src: url("../fonts/PTSerifRegular/PTSerifRegular/PTSerifRegular.eot");
//     src: url("../fonts/PTSerifRegular/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
//     url("../fonts/PTSerifRegular/PTSerifRegular/PTSerifRegular.woff") format("woff"),
//     url("../fonts/PTSerifRegular/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
//     font-style: normal;
//     font-weight: normal;
// }

// @font-face {
//     font-family: "FiraSans";
//     src: url("../fonts/FiraSansRegular/FiraSansRegular.eot");
//     src: url("../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix")format("embedded-opentype"),
//     url("../fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"),
//     url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
//     font-style: normal;
//     font-weight: normal;
// }

// @font-face {
//     font-family: "FiraSans";
//     src: url("../fonts/FiraSansMedium/FiraSansMedium.eot");
//     src: url("../fonts/FiraSansMedium/FiraSansMedium.eot?#iefix")format("embedded-opentype"),
//     url("../fonts/FiraSansMedium/FiraSansMedium.woff") format("woff"),
//     url("../fonts/FiraSansMedium/FiraSansMedium.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 600;
// }

// @font-family-1:  'PTSerifRegular', Georgia, Times, serif;
@font-family-1: 'PTSerifRegular', sans-serif;
@font-family-2: 'FiraSans', sans-serif;

@font-weight-normal: normal;
@font-weight-bold: bold;
@font-weigth-medium: 600;

@font-size-normal: 10px;
@font-size-sm:     1.4rem;
@font-size-base:   1.6rem;
@font-size-lg:     1.8rem;
@font-size-larger:   3rem;
@font-size-big:    3.6rem;

@line-height-base: 22px;



h1,
h2 { font-family: @font-family-1; }

h3 { 
	font-family: @font-family-2;
	font-size: @font-size-sm;
	font-weight: @font-weigth-medium;	
}

h1 { font-size: @font-size-sm; }
h2 { font-size: @font-size-larger; }

p {
	font-family: @font-family-2;
	font-size: @font-size-base;	
	font-weight: @font-weight-normal;
}

.small {
	font-family: @font-family-2;
	font-size: 	@font-size-sm;
	font-weight: @font-weight-normal;
}

.accent { font-size: @font-size-lg; }







// h1,
// h2 {
//   font-family: 'PT Serif Caption', serif;
//   font-family: 'PT Serif', serif;
// }

// h3,
// nav,
// p,
// .small,
// .accent { font-family: 'Fira Sans', sans-serif; }

// @font-size-h1:                36px;
// @font-size-h2:                30px;
// @font-size-h3:                14px;
// @font-size-p:                 16px;

// .small { font-size: 14px; }
// .accent { font-size: 18px; }

// @line-height-base:            22px;
