@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1920px;

@primary-color:               #e85715;
@secondary-color:             #ff7435;
@third-color:                 #0ab89d;
@fourth-color:                #079b84;
@fifth-color:                 #e3e3e3;	
@sixth-color:                 #f6f6f6;
@seventh-color:               #e71818;

@gray-lightest:               #fafafa;
@gray-lighten:                #ebebeb;
@gray-light:                  #979696;
@gray-dark:                   #4c4c4c;
@gray-darken:                 #191919;

@white:                       #ffffff;

@pic:                         "../img/pic/";

@logo-margin-top:             17px;
@logo-margin-bottom:          24px;

@step:                        10px;

@transition:                  0.3s ease-in-out;

@box-shadow-primary:          0 0 20px rgba(0,0,0,0.8);
@box-shadow-secondary:        0 0 20px rgba(255,255,255,0.8);

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blur {
  from {
    filter: blur(2px);
  }

  to {
    filter: blur(0);
  }
}

.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}